<h1 class="pb-4">Explore Categories</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
        <li class="breadcrumb-item active" aria-current="page">Explore Categories</li>
    </ol>
</nav>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3  mb-4 ">
    {{#each categories}}
    {{#each this}}
    {{#if image}}
    <a href="/categories/{{this.name}}" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="/uploads/{{this.image}}" alt="{{this.name}}" loading="lazy">
        </div>
        <div class="pt-1">
            {{this.name}} </div>
    </a>
    {{/if}}
    {{/each}}
    {{/each}}
</div>


<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4 ">
    {{#each categoryById}}
    {{#each this}}
    {{#if image}}
    <a href="/recipe/{{this._id}}" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="/uploads/{{this.image}}" alt="{{this.name}} " loading="lazy">
        </div>
        <div class="pt-1">
            {{this.name}}
        </div>
    </a>
    {{/if}}
    {{/each}}
    {{/each}}
</div>