<div class="px-4 py-5 my-5 text-center">
    <h4 class="display-5 fw-bold">HI ,{{#each user}}{{username}} {{/each}},</h4>
    <h4 class="display-5 fw-bold">update Your Recipe</h4>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Share your amazing recipies . Fill our form to get
            started.</p>

    </div>
</div>

<div class="row justify-content-center">
    {{#if infoSubmitObj}}
    <div class="col-8 alert alert-success" role="alert">
        {{infoSubmitObj}} </div>
    {{/if}}

    {{#if infoErrorsObj }} <div class="col-8 alert alert-danger" role="alert">
        {{infoErrorsObj}} </div>
    {{/if}} <div class="col-8">
        <form action="/update/{{#each recipe}}{{_id}}{{/each}}" enctype="multipart/form-data" method="POST">
            <div class="row g-3">
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control"
                        value="{{#each user}}{{email}}{{/each}}" readonly="true">

                </div>
                <div class="col-12">
                    <label for="userId" class="form-label" hidden="true">userId</label>
                    <input type="userId" id="userId" name="userId" class="form-control"
                        value="{{#each user}}{{_id}}{{/each}}" hidden="true">
                </div>
                <div class="col-12">
                    <label for="name" class="form-label">Recipe Name</label>
                    <input type="text" name="name" id="name" required="true" class="form-control"
                        value="{{#each recipe}}{{name}}{{/each}}">

                </div>
                <div class=" col-12">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="4">
                        {{#each recipe}}
                        {{description}}
                        {{/each}}
                    </textarea>
                </div>

                <div class="col-12">
                    <label for="name" class="form-label">Ingredients</label><br>
                    <small>Example: Ice</small>
                    <div class="ingredientList">
                        <div class="ingredeintDiv mb-1">
                            <input type="text" name="ingredients" class="form-control" value="{{#each recipe}}
                        {{ingredients}}
                        {{/each}}">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Ingredient</button>
                </div>
                <div class="col-12">
                    <label for="category">Select Category </label>
                    <br class="display-5 fw-bold">previously selected Category is :
                    {{#each recipe}}
                    {{category}}
                    {{/each}}</br>
                    <select class="form-select form-control" name="category" aria-label="Category">
                        <option selected>Select Category</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Snacks">Snacks</option>
                        <option value="variety_dish">variety_dish</option>
                        <option value="Lunch">Lunch</option>

                    </select>
                </div>

                <label for="">Image</label>
                <img src="../..//uploads/{{#each recipe}}{{image}}{{/each}}" alt="" style=" width:100px;height:auto"
                    id="imgView" class="pt-3">
                <input type="file" name="Image" class="form-control" onchange="viewImage(event)">

                <div class="col-12">
                    <button onclick="submitRecipe" class="btn btn-primary">Submit
                        Recipe</button>
                </div>
            </div>
        </form>

    </div>
</div>
<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>